@import "css/base.css";
@import "css/modal.css";

.l-go {
    background: rgba(0, 173, 216, 0.7);
    color: rgb(50, 50, 50);
}

.l-python {
    background: rgba(53, 114, 165, 0.7);
    color: rgba(255, 255, 255, 0.9);
}

.l-typescript {
    background: rgba(43, 116, 137, 0.7);
    color: rgba(255, 255, 255, 0.9);
}

.l-javascript {
    background: rgba(241, 224, 90, 0.7);
    color: rgba(0, 0, 0, 0.7);
}

.l-cpp {
    background: #6B9DD5;
    color: #ffffff;
}
